body {
  padding-top: 2em;
}
h1 {
  font-size: 0.75em; /*12/16*/
  letter-spacing: 0.1667em; /*166.7/1000*/
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.83333333em; /*22/12*/
}
h2 {
  letter-spacing: 0.2em; /*200/1000*/
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.625em; /*10/16*/
  color: #919191;
  margin-bottom: 2em; /*22/10*/
}
h3 {
  font-size: 0.75em; /*12/16*/
  font-weight: 300;
  margin-bottom: 0.5em; /*6/12*/
}

/* ---------------- */
/* --- Featured --- */
/* ---------------- */
.featured {
  margin-bottom: 2.5em; /*40/16*/
}
.featured figure {
  position: relative;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.featured figure img {
  display: block;
}
.featured figcaption {
  font-size: 2.75em; /*44/16*/
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* --------------- */
/* --- Popular --- */
/* --------------- */
article img {
  margin-bottom: 0.625em; /*10/16*/
}
article p {
  font-size: 0.5625em;
}
article {
  margin-bottom: 2.5em; /*40/16*/
}

/* colonnes */
.popular {
  padding: 0 19px 0 20px;
}
.popular article {
  display: inline-block;
}
article:nth-child(odd) {
  margin-left: 20px;
}

/* -------------- */
/* --- Footer --- */
/* -------------- */
.shopAll {
  font-size: 0.75em; /*12/16*/
  display: block;
  background-color: #ffd4a2;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-weight: 500;
  padding: 1.91666667em 0; /*23/12*/
}
